*{
        margin: 0;
        padding: 0;
        border: 0;
        outline: none;
        box-sizing: border-box;
}
body{
    font-family: 'Montserrat', 'Open Sans', 'Raleway', 'Rubik', sans-serif;
    color: var(--white);
}
:root{
    --black:#02050b ;
    --white:#fff7ec;
    --bkue:#0085be;
    --gold:#ff961e;
    --red:#b80707;
}
.navbar .menu li a{
    color: var(--white);
}
a {
    text-decoration: none;
    text-transform: capitalize;
}
ul{
    list-style: none;
}
.toggle-menu{
    position: relative;
    background: none;
    border: none;
    width: 40px;
    cursor: pointer;
    padding-top: 15px;
    display: none;
}
.toggle-menu span{
    display: block;
    width: 100%;
    background-color: #FFF;
    height: 4px;
    margin-bottom: 4px;
    border-radius: 4px;
}
.toggle-menu.menu-active::before{
    content: "";
    border-width: 28px;
    border-style: solid;
    border-color: transparent transparent var(--white) transparent;
    position: absolute;
    bottom: -83%; /* Position the arrow above the button */
    right: 50%; /* Position the arrow in the middle of the button */
    transform: translateX(50%); /* Move the arrow to the right by half of its width */
}
.toggle-menu:focus{
    outline: none;
}
@media(max-width:920px){
    .toggle-menu {
        color: var(--white);
        display: inline-block;
    }
    .navbar .menu.open{
        background-color: var(--white);
        position: absolute;
        padding: 20px;
        display: block;
        left: 0;
        top: 121px;
        width: 100%;
        border-radius: 4px;
        text-align: left;
        z-index: 10;
    }
    .navbar .menu.open li{
        display: block;
        margin: 10px;
    }
    .navbar .menu.open li a{
        font-weight: bold;    
    }
    .landing-text {
        margin-top: -2rem !important;
    }
}
.landing{
    background: var(--black);
    height: 100%;
    min-height: 100vh;
    width: 100%;
    position: relative;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
@media(max-width:920px){
    ul {
        display: none;
    }
}
.menu li {
    display: inline-block;
    margin: 0 1rem;
    font-size: 1.6rem;
    font-weight: 600;
}
.landing-text {
    position: relative;
    margin: auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-top: 9rem;
    z-index: 2;
}
.text{
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}
@media(max-width:920px){
    .landing-text {
        flex-direction: column-reverse;
    }
    .text {
        text-align: center;
        align-items: center;
    }
    .landing-text p{
        text-align: center !important;
    }
}
.landing-text h1{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 5rem;
    line-height: 1.1;
    margin: 0 0 2rem;
}
@media(max-width:1500px){
    .landing-text h1{
        font-size: 4rem;
    }
}
@media(max-width:1250px){
    .landing-text h1{
        font-size: 3rem;
    }
}

.landing-text p{
    text-align: left;
    text-transform: uppercase;
    /* color: #fff; */
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.25;
    margin: 0 0 2rem;
    width: 83%;
}
.text a{
    display: inline-block;
    background: var(--white);
    color: var(--black);
    padding: 0.4rem 1.3rem;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(0 ,0 ,0 ,0.45);
    border-radius: 2rem;
    width: auto;
    transition: all ease-in-out .3s;
}
.text a:hover{
    transform: scale(1.04) ;
}
.choices{
    margin-top: 6rem;
}
.choices .phones {
    text-align: center;
}
.choices .phones img{
    height:10rem;
    transition: .3s;
    cursor: pointer;
}
.choices .phones img:hover{
    transform: scale(1.1);
}
@media(max-width:470px){
    .landing-text p{
        font-size: 1rem !important;
    }
}
@media(max-width:320px){
    .phone .main-image{
        width: 230px;
    }
    .landing-text h1 {
        font-size: 1.9rem;
    }
}

